.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.winner-square {
  background: #6dca33;
}

.square:focus {
  outline: none;
}

button.square[data-pro="X"] {
  color: red;
}

button.square[data-pro="O"] {
  color: black;
}
